.clearfix img{
    margin-right: 100px;
    padding-left: 30px;
}

.proto_imgs{
    text-align: center;
}

.proto_imgs img{
    width: 80%;
    margin-top: 1.2em;
    margin-bottom: 1.2em;

}
.table {
    min-width: 1000px !important;
    width: 100%;
    background: #fff;
    text-align: center; 
}

.table thead th {
    border: none;
    padding: 30px;
    font-size: 14px;
    color: #000;
}

.table tbody tr {
    margin-bottom: 10px; 
}



  